<h2>Panel de Administración</h2>
<section>
  <h3>Usuarios</h3>
  <ul>
    <li ng-repeat="user in users">{{user.login}} ({{user.name}})</li>
  </ul>
  <form ng-submit="addUser()" novalidate>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" ng-model="newUser.username" required>
    
    <label for="name">Nombre completo:</label>
    <input type="text" id="name" ng-model="newUser.name" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" id="password" ng-model="newUser.password" required>
    
    <button type="submit">Añadir Usuario</button>
  </form>
</section>
<section>
  <h3>Categorías</h3>
  <!-- Listado y gestión de categorías -->
</section>
<section>
  <h3>Vídeos</h3>
  <!-- Listado y gestión de vídeos -->
</section>
<button type="button" ng-click="logout()">Logout</button>